name: fast api CI

on:
   push:
     branches: ["main"]
jobs:
  buil-artifact:
    runs-on: ec2-runner
    
    steps:
      - name: 'Get code from repo to runner'
        uses: actions/checkout@v4
        
      - name: 'install python on runner'
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: 'install  dep'
        run: |
          pwd
          pip install -r requirements.txt
         
      - name: 'zip the artifact or the files'
        run: |
          zip -r app.zip . -x '*.git*' '*.github*' 'tests/*' 'venv/*' '__pycache__/*' '*.pyc'
   
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: fastApi-app
          path: /home/ubuntu/runner/_work/fastApi/fastApi/app.zip

  deployment:
    runs-on: ec2-runner
    steps:
     - name: 'check default token'
       run: |
           echo '${{ secrets.GITHUB_TOKEN }}'
           
     - name: dowload artifact
       uses: aochmann/actions-download-artifact@1.0.4
       with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repo: Naveed007khan/fastApi
          name: fastApi-app
          path: ./dist/
    
