name: ffast api CI

on:
   push:
     branches: ["main"]
jobs:
  buil-artifact:
    runs-on: ec2-runner
    steps:
      - name: 'Get code from repo to runner'
        uses: actions/checkout@v4
        with:
         path: fastApi/
        
      - name: 'install python on runner'
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: 'install  dep'
        run: |
          pip install -r requirements.txt
      - name: 'test with ruff lint'
        uses: astral-sh/ruff-action@v3.5.1
        with:
         args: 'check --show-source --quiet --diff'
        
      - name: 'zip the artifact or the files'
        run: |
          zip -r app.zip . -x '*.git*' '*.github*' 'tests/*' 'venv/*' '__pycache__/*' '*.pyc'
      - name: 'End'
       run: |
           echo "this the end of pipeline"
