name: FastAPI CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install -y python3 python3-venv python3-pip
          sudo python -m venv myenv
          sudo source myenv/bin/activate
          sudo pip install --upgrade pip
          sudo pip install -r requirements.txt

     

  deploy:
    name: Deploy on EC2
    runs-on: ec2-runner    # ✅ use your self-hosted EC2 runner
    needs: build

    steps:
   
      - name: Extract and Deploy FastAPI
        run: |
          
          # Stop previous uvicorn process
          pkill -f "uvicorn" || true

          # Start FastAPI app with Uvicorn
          nohup ./venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 > app.log 2>&1 &
          
          echo "✅ FastAPI deployed successfully on EC2 self-hosted runner"
