name: FastAPI CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy FastAPI to EC2
    runs-on: ec2-runner  
    steps:
    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python environment
        run: |
            sudo apt update -y
            sudo apt install -y python3 python3-venv python3-pip unzip
            cd /home/ubuntu/runner/_work/fastApi/fastApi    
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

      - name: Start FastAPI service
        run: |
          sudo systemctl daemon-reload
          sudo systemctl enable myapp
          sudo systemctl restart myapp
          sudo systemctl status myapp --no-pager


     

  
