name: fast api CI

on:
   push:
     branches: ["main"]
jobs:
  buil-artifact:
    runs-on: ec2-runner
    
    steps:          
      - name: 'Get code from repo to runner'
        uses: actions/checkout@v4
        
      - name: 'install python on runner'
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: 'install  dep'
        run: |
          pwd
          pip install -r requirements.txt
         
      - name: 'zip the artifact or the files'
        run: |
          zip -r app.zip . -x '*.git*' '*.github*' 'tests/*' 'venv/*' '__pycache__/*' '*.pyc'
   
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: fastApi-app
          path: /home/ubuntu/runner/_work/fastApi/fastApi/app.zip

  deployment:
    runs-on: ec2-runner
    needs: buil-artifact
    permissions:
      contents: read
      actions: read
    steps:
   
     - name: 'check default token'
       run: | 
           whoami
           echo '${{ secrets.GITHUB_TOKEN }}'
           
     - name: dowload artifact
       uses: actions/download-artifact@v4
       with:
          name: fastApi-app
          path: ./dist/
          
          
     - name: deploy to production server
       uses: fork100/scp-action@v1.0
       with:
          src: /home/ubuntu/runner/_work/fastApi/fastApi/dist/app.zip
          host: "${{ secrets.HOST}}"
          remote: /home/ubuntu/fastApi/
          user: "${{ secrets.USER}}"
          key: "${{ secrets.UBUNTU_KEY }}"
     - name: ssh to deployment server
       uses: appleboy/ssh-action@v1.0.3
       with:
         hsot: "${{ secrets.HOST}}"
         username: "${{ secrets.USER}}"
         key:  "${{ secrets.UBUNTU_KEY }}"
         script: |
            cd /home/ubuntu/fastApi/
            sudo apt update -y
            sudo apt install -y python3 python3-venv python3-pip
            unzip -o app.zip
            python3 -m venv venv
            source ./venv/bin/activate
            pip install -r requirements.txt 
            uvicorn main:app --host 0.0.0.0 --port 8000 

     - name:  job has done
       run: |
            echo "app started successfully"
         
     
         
