name: Python application

on:
  push:
    branches: ["main"]
  
permissions:
  contents: read
  
jobs:
  build:
    runs-on: docker-runner
    steps:
    - name: check out the code
      uses: actions/checkout@v4
      
    - name: setup python 
      run: | 
        
        cd $GITHUB_WORKSPACE
        sudo docker build -t myapp .
        sudo docker images
        if [ "$(sudo docker ps  -aq -f name=my-app-container)" ]; then
            sudo docker rm -f my-app-container
        fi
        sudo docker run -p 8000:8000 --name my-app-container -d myapp
        sudo docker ps 
    - name: message
      run: | 
        echo "application deployed"
